*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: Dark cyan hsl(158, 36%, 37%);
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	font-family: 'Outfit', sans-serif;
	margin: 20px 20px;
}

.container{
	background-color: hsl(0, 0%, 100%);
	max-width: 300px;
	width: 100%;
	padding: 15px;
	padding-left: 100px;
	border-radius: 15px;
}
